<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <h2><label for="qa"> <u>Your Result- </u> </label></h2> <h3> <%=v %> out of 5 </h3>
            <!-- <input type="text" required name="qa" id="qa" class="form-control"> -->
          </div>
          <a href="/route/" class="btn btn-secondary">Cancel And Go Back</a>
          </div>
</body>
</html>