<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
    <style>
    .container{
        background-color: limegreen;
    }
    </style>
</head>
<body>
    
    <div class="container mt-1">
        <h1 class="">This is the Home Page</h1>
        <h2 class="">Welcome!</h2>
        <hr style="border-top: 2px solid black;">
        <img src="img.jpg" alt="Yo2" style="background-size:cover; background-position: center; height: 50vh; padding:30px 2px;margin: 2px ;">
        <a href="/route/_first" id="new-btn2"><div><button class="btn bn-primary btn-success"><h2 >Sign Up here</h2></button></div></a>
        <br>
        <a href="/route/_second" id="new-btn"><div><button class="btn bn-primary btn-success"><h2 >Login here</h2></button></div></a>
        <br>
    </div>
    
</body>
</html>