<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
  <div class="container mt-4">
    <u><h3><div>ENTER USERNAME & PASSWORD </div></h3></u></div>
    
    <form action="/route/l2" method="POST">
      <%- include('form2') %>
      </form>
</body>
</html>