<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
    <style>
      .container{
              background-color:#AB9D9A;
          }
      </style>
</head>
<body>
  <div class="container mt-4" id="my-form">
    <br>
    <u><h3><div>ENTER THE BELOW DETAILS FOR SIGNUP </div></h3></u>
  <form action="/route" method="POST">
    <%- include('form') %>
    <br>
    </form>
      <br>
</body>
</html>