
    <br>
    <div class="form-group">
        <label for="un"> ENTER YOUR COMPLETE USERNAME </label>
        <input type="text" required name="un" id="un" class="form-control">
      </div> 
    
      
      <a href="/route/" class="btn btn-secondary">Cancel And Go Back</a>
      <%= console.log('Giving Test') %>
      
      <button type="submit" class="btn btn-primary" value="submit">Give Test</button>
      </div>