<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
    <style>
        .container{
            background-color:#AB9D9A;
        }
        </style>
</head>
<body>
    <br>
    <div class="container">
        <div class="form-group">
            <h2><u><%= routes.username%>:</u> You have Succesfully Created a Test. </h2>
          </div>
          <br>
          <br>
          <a href="/route/<%= routes.id%>" class="btn btn-secondary btn-success">Profile Page</a>
          <a href="/" class="btn btn-secondary">Home Page</a>
          <br>
          <br>
          </div>
</body>
</html>